<div class="row">
<!--   <div class="col-md-4" *ngFor="let product of products_API">
    <div class="row">
      <div class="col-md-6">
        <a  href="#" class="thumbnail">
            <img [src]="product.image_thumb_url">
        </a>
      </div>
      <div class="col-md-6">
        <h2>{{product.name}}</h2>
        <p>$ {{product.price_in_cents}}</p>
        <button class="btn btn-success btn-sm pull-xs-right" (click)="addProductToCart(product)">Add To Cart</button>
      </div>
    </div>      
  </div> -->
</div>