<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1>Registrate<small> con tu email</small></h1>
    </div>
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h1>Inicia sesion<small> con redes sociales</small></h1>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#">Facebok</a></li>
      <li role="presentation"><a href="#">Twitter</a></li>
      <li role="presentation"><a href="#">Google</a></li>
    </ul>
  </div>
</div>