<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item active">
        Usuarios Conectados
      </a>
      <a class="list-group-item" *ngFor="let userOnline of usersOnline">
        <span>{{userOnline.name}}</span>
      </a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="list-group">
      <a class="list-group-item active">
        Chat
      </a>
    </div>
    <div *ngFor="let message of messages" [ngSwitch]="message.type">
        <span *ngSwitchDefault>
          <span>{{message.created}}</span>
          <span>{{message.username}}:</span>
          <span>{{message.text}}</span>
        </span>
    </div>
    <form (ngSubmit)="sendMessage()">
        <input type="text" name= "messageText" [(ngModel)]="messageText"> <input type="submit">
    </form>
  </div>
</div>