<div class="row m-1"> 
  <div class="col-md-8"> 
     <div class="box"> 
        <div class="box-header"> 
           <h2>Registration Form</h2> 
        </div> 
        <div class="box-divider"></div> 
        <div class="box-body"> 
          <form novalidate #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
            <div class="form-group"> 
              <label>firstName</label>
              <input type="text" class="form-control" name="firstName" ngModel #firstNameRef="ngModel" required minlength="3"> 
              <div class="error-message" *ngIf="firstNameRef.touched &&  
                                                firstNameRef?.errors?.required"> 
                The first name is required. 
              </div> 
              
              <div class="error-message" *ngIf="firstNameRef.touched &&  
                                          firstNameRef?.errors?.minlength"> 
              You should enter minimum  
              {{firstNameRef?.errors?.minlength.requiredLength}}  
              characters into first name, but you entered only  
              {{firstNameRef?.errors?.minlength.actualLength}} characters. 
              </div>
            </div>
              <div class="form-group"> 
                  <label>lastName</label> 
              
              <input type="text" class="form-control" name="lastName"  
              ngModel #lastNameRef="ngModel">
            </div> 
              <div class="form-group"> 
                  <label>Email</label> 
                  <input type="email" class="form-control" name="email"  
                                      ngModel #emailRef="ngModel"> 
                </div> 
                <div class="row"> 
                  <div class="col-sm-6 form-group"> 
                    <label>Enter Password</label> 
                    <input type="password" class="form-control"  
                           name="password" ngModel #passwordRef="ngModel"> 
                  </div> 
                  <div class="col-sm-6 form-group"> 
                    <label>Confirm Password</label> 
                    <input type="password"  
                           class="form-control" name="confirmPassword"  
                           ngModel #confirmPassRef="ngModel"> 
                  </div> 
                </div> 
                <div class="row">
                  <div class="form-group"> 
                      <label class="check-label"> 
                        <input type="checkbox" name="agreement" value=""  
                          ngModel #agreementRef="ngModel"><i class="blue"></i> 
                          I agree to the Terms of Service 
                      </label> 
                    </div> 
                </div>
                <button type="submit" class="btn btn-secondary" 
                [disabled]="formRef.invalid">Submit</button> 
              </form> 
        </div> 
     </div> 
  </div> 
</div>