<div id="map"></div>	

<form>
  <div class="form-group">
    <label for="inputText1">Direccion</label>
    <input type="text" class="form-control" id="inputText1" placeholder="Ej. Calle 72 # 5B - 32">
  </div>
  <div class="form-group">
    <label for="inputText2">Direccion</label>
    <input type="text" class="form-control" id="inputText2" placeholder="Ej. Apartamento, Condominio, Torre">
  </div>
  <div class="form-group">
    <label for="inputText3">Barrio</label>
    <input type="text" class="form-control" id="inputText3" placeholder="Barrio">
  </div>
  <div class="form-group">
    <label for="inputText4">Telefono</label>
    <input type="text" class="form-control" id="inputText4" placeholder="Telefono">
  </div>
  <button type="submit" class="btn btn-default">Pagar</button>
</form>