<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <img alt="Brand" src="./assets/img/gl.png">
      </a>
      <p class="navbar-text">Play eCommerce</p>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a><app-cart></app-cart></a></li>
        <li *ngIf="!auth.isAuthenticated"><a routerLink="login">Iniciar Sesión</a></li>

        <li *ngIf="auth.isAuthenticated" class="dropdown profile showopacity">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="{{auth.photo}}" alt="user-image" class="img-circle img-inline">
              <span>{{auth.name}} <i class="caret"></i></span>
          </a>
          <ul class="dropdown-menu profile animated fadeIn">
            <li><a >Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="messages">Messages</a></li>
            <li class="active"><a ></a></li>
            <li role="separator" class="divider"></li>
            <li *ngIf="auth.isAuthenticated"><a (click)="auth.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>